.App {
  text-align: center;
}

.App-header {
  background-color: lightslategray;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  padding: 50px 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  background-color: #282c34;
  color: white;
  font-size: 16px;
  padding: 15px;
}

nav {
  background-color: #282c34;
  padding: 2px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  color: white;
  margin-right: 25px;
  float: left;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 22px;
  color: mediumspringgreen;
}

nav a:hover {
  color: hotpink;
}

.red {
  color: red;
}

#homepic{
  height: 150px;
  width: auto;
}

#profileName{
  font-size: 60px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: rgb(77, 151, 117);
}
#userInfo{
  border: 3px solid black;
  border-radius: 20px;
  margin-bottom: 70px;
}

#homepost{
  width: 25%;
  height: 25%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px black;
  float: left;
  color: black;
  margin: 10px;
}
#profileposts{
  border: 2px solid black;
  width: 23%;
  height: 25%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px black;
  float: left;
  color: black;
  margin: 10px;
}
